.scrollable {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #000;
  border: 1px solid transparent;
}

.badge {
   background-color: #2283c5!important
  }

.badge-cardio {
   background-color: #2283c5!important
  }
.badge-weights {
   background-color: #2283c5!important
  }
.badge-full-body-circuit {
   background-color: #2283c5!important
  }
.badge-yoga {
   background-color: #2283c5!important
  }
.badge-legs-and-back {
   background-color: #2283c5!important
  }

.badge-chest-and-arms {
   background-color: #2283c5!important
  }
.badge-core {
   background-color: #2283c5!important
  }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

.image-container {
  display: inline-block;
  width: 45%;
  float: left;
}
.quote-container {
  display: inline-block;
  width: 55%;
  float: right;
}
.bordered {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 1px;
}

.calendar-container {

}

.splash-pic {
  height: 100px;
  width: 130px;
}
