<div class="container banner text-center">
  <p>{{ $ctrl.history }}</p>
</div> <!-- CONTAINER / BANNER -->
<p>{{$ctrl.selectedWorkouts[0].dvd_session_name}}
   {{$ctrl.selectedWorkouts[0].paper_session_name}}
   {{$ctrl.selectedWorkouts[0].calories_burned}}
   {{$ctrl.selectedWorkouts[0].date}}

 </p>
<table>
  <tbody>
    <h3>{{$ctrl.formattedCurrentMonth}}</h3>
    <tr ng-repeat="week in $ctrl.weeks">
      <td class="calendar-day" ng-repeat="day in week">
        <a href="#" ng-mouseover="$ctrl.showDay(day)">{{ day }}</a>
      </td>
    </tr>
  </tbody>
</table>
