<div class="container banner text-center">
  <h2>YOUR WORKOUT HISTORY</h2>
  <!-- <p>{{ $ctrl.history }}</p> -->
</div> <!-- CONTAINER / BANNER -->
<table align="center">
  <tbody>
    <h1 class="month-name">{{$ctrl.currentMonth}}</h1>
    <div class="calendar-month">
    </div>
    <tr ng-repeat="week in $ctrl.weeks">
      <td class="calendar-day" ng-repeat="day in week">
        <div ng-mouseover="$ctrl.showDay(day)">
          <a href="#">{{ day }}</a>
        </div>
      </td>
      <p class="calendar-data calendar-month">{{$ctrl.selectedWorkouts[0].dvd_session_name}}
        {{$ctrl.selectedWorkouts[0].paper_session_name}}
        {{$ctrl.selectedWorkouts[0].calories_burned}}
      </p>
    </tr>
  </tbody>
</table>
