<div class="container banner text-center">
  <h2>YOUR WORKOUT HISTORY</h2>
  <!-- <p>{{ $ctrl.history }}</p> -->
</div> <!-- CONTAINER / BANNER -->
<p>{{$ctrl.selectedWorkouts[0].dvd_session_name}}
   {{$ctrl.selectedWorkouts[0].paper_session_name}}
   {{$ctrl.selectedWorkouts[0].calories_burned}}
   {{$ctrl.selectedWorkouts[0].date}}

 </p>
<table>
  <tbody>
    <h3>{{$ctrl.currentMonth}}</h3>
    <tr ng-repeat="week in $ctrl.weeks">
      <td class="calendar-day" ng-repeat="day in week">
        <div ng-mouseover="$ctrl.showDay(day)">
          <a href="#">{{ day }}</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
