/* line 1, ../scss/app.scss */
.scrollable {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #000;
  border: 1px solid transparent;
}

/* line 11, ../scss/app.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

/* line 18, ../scss/app.scss */
.image-container {
  display: inline-block;
  width: 45%;
  float: left;
}

/* line 23, ../scss/app.scss */
.quote-container {
  display: inline-block;
  width: 55%;
  float: right;
}

/* line 28, ../scss/app.scss */
.bordered {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 1px;
}

/* line 39, ../scss/app.scss */
.splash-pic {
  height: 100px;
  width: 130px;
}
