/** ===== VARIABLES =====
*/
/* line 13, ../scss/app.scss */
body {
  padding: 50px;
  font: 14px "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-color: #7C7873;
  margin-bottom: 60px;
}

/**
BANNER
*/
/* line 25, ../scss/app.scss */
.banner {
  background: radial-gradient(#ffffff, #7c7873);
}
/* line 28, ../scss/app.scss */
.banner h3 {
  color: #E8E7E6;
}

/**
CARDS
*/
/* line 37, ../scss/app.scss */
.card-main .card-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 41, ../scss/app.scss */
.card-main .hover-fun {
  transition: opacity .5s, transform .3s;
}
/* line 45, ../scss/app.scss */
.card-main .hover-fun:hover {
  opacity: .5;
  transform: scale(1.01);
}

/* line 51, ../scss/app.scss */
.card-text {
  background: white;
}

/* line 55, ../scss/app.scss */
.middle-card-container {
  position: relative;
  width: 100%;
}
/* line 59, ../scss/app.scss */
.middle-card-container .middle-card-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* line 69, ../scss/app.scss */
.middle-card-container .middle-card {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 82, ../scss/app.scss */
.middle-card-container:hover .middle-card-image {
  opacity: 0.3;
}

/* line 86, ../scss/app.scss */
.container:hover .middle-card {
  opacity: 1;
}

/* line 90, ../scss/app.scss */
.middle-card-text {
  background: rgba(20, 20, 20, 0.75);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/**
QUOTE
*/
/* line 100, ../scss/app.scss */
.quote-container {
  background: rgba(20, 20, 20, 0.75);
  display: inline-block;
  width: 100%;
  float: left;
  height: 100px;
  color: white;
}
/* line 108, ../scss/app.scss */
.quote-container h3 {
  text-shadow: 0 0 3px #7C7873;
  font-family: 'Finger Paint', cursive;
}

/**
7-DAY CALENDAR
*/
/* line 117, ../scss/app.scss */
.calendar-container {
  display: flex;
}
/* line 120, ../scss/app.scss */
.calendar-container .outer {
  position: relative;
  background: white;
  width: 100px;
  height: 100px;
  border: 2px solid white;
}
/* line 128, ../scss/app.scss */
.calendar-container .outer .bottomleft {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0.5em;
  width: 80px;
  font-weight: bold;
  color: #000;
}

/**

*/
/* line 143, ../scss/app.scss */
.badge {
  background-color: rgba(121, 139, 161, 0.8) !important;
}

/* line 147, ../scss/app.scss */
.scrollable {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #000;
  border: 1px solid transparent;
}

/* line 156, ../scss/app.scss */
.bordered {
  border-style: solid;
  border-width: 2px;
  padding: 1px;
}
