body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
  background-color: white;
}

.image-container {
  display: inline-block;
  width: 30%;
  float: left;
}
.quote-container {
  display: inline-block;
  width: 70%;
  float: right;
}
.bordered {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 1px;
}
.calendar-container {

}
