body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
  background-color: white;
}

.image-container {
  display: inline-block;
  width: 45%;
  float: left;
}
.quote-container {
  display: inline-block;
  width: 55%;
  float: right;
}
.bordered {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 1px;
}

.calendar-container {

}

.splash-pic {
  height: 100px;
  width: 130px;
}
